<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Clienten</title>
   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<header class="header2" id="header2">
      <meta charset="UTF-8">

    <nav role="navigation" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar-collapse-02" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/updates">Updates</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="intro center-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="text-left">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Hostname</th>
								<th>IP</th>
								<th>CPU</th>
								<th>GPU</th>
								<th>RAM[GB]</th>
								<th>Datum</th>
								<th>Alive</th>
                            </tr>
                            </thead>
                            <tbody>

                            {%for client in clients%}
                            <tr class="info">
                                <td>{{client.hostname}}</td>
								<td>{{client.ip}}</td>
								<td>{{client.cpu}}</td>
								<td>{{client.gpu}}</td>
								<td>{{client.ram}}</td>
								<td>{{client.datum}}</td>
								<td>{{client.alive}}</td>
								</tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>

            </div><!-- row -->

        </div><!-- intro -->

    </div><!-- container -->

</header><!-- header -->

</html>