<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Clienten</title>
   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<header class="header2" id="header2">
      <meta charset="UTF-8">

    <nav role="navigation" class="navbar navbar-default">
        <div class="container">
            <div id="navbar-collapse-02" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/updates"><font size="5">Updates</font></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="intro center-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="text-left">

                        <table class="table table-bordered">
                            <thead>
                            <tr class="active">
                                <th><font size="5">Hostname</font></th>
								<th><font size="5">IP</font></th>
								<th><font size="5">CPU</font></th>
								<th><font size="5">GPU</font></th>
								<th><font size="5">RAM[GB]</font></th>
								<th><font size="5">Datum</font></th>
								<th><font size="5">Alive</font></th>
                            </tr>
                            </thead>
                            <tbody>

                            {%for client in clients%}
                           <tr >
                                <td><font size="4">{{client.hostname}}</font></td>
								<td><font size="4">{{client.ip}}</font></td>
								<td><font size="4">{{client.cpu}}</font></td>
								<td><font size="4">{{client.gpu}}</font></td>
								<td><font size="4">{{client.ram}}</font></td>
								<td><font size="4">{{client.datum}}</font></td>
								<td><font size="4">{{client.alive}}</font></td>
								</tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>

            </div><!-- row -->

        </div><!-- intro -->

    </div><!-- container -->

</header><!-- header -->

</html>