<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updates</title>
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
<table style="width:50%">
<tr>
    <th>Update</th>
    <th>Version</th>
    <th>Download</th>

</tr>
{%for update in updates%}
<tr>
     <td>{{update.packageName}}</td>
     <td>{{update.version}}</td>
    <td><a href={{update.url}}>Download</a></td>
</tr>
{% endfor %}
</table>
<form action={{home}}>
    <input type="submit" value="Clients"> </input>
</form>
</body>
</html>