<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updates</title>
   

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<header class="header2" id="header2">
      <meta charset="UTF-8">

    <nav role="navigation" class="navbar navbar-default">
        <div class="container">
            <div id="navbar-collapse-02" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><font size="5">Clienten</font></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

<body>
<div class="intro center-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="text-left">

                        <table class="table table-bordered">
                            <thead>
                            <tr class="active">
                                <th><font size="5">Update</font></th>
								<th><font size="5">Version</font></th>
								<th><font size="5">Download</font></th>

                            </tr>
                            </thead>
                            <tbody>
							{%for update in updates%}
							<tr>
				
							<td><font size="4">{{update.packageName}}</font></td>
							<td><font size="4">{{update.version}}</font></td>
							<td><a href={{update.url}}><font size="4">Download</font></a></td>
		                     </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>

            </div><!-- row -->

        </div><!-- intro -->

    </div><!-- container -->

</header><!-- header -->

</html>